<input type="text" class="form-control" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()">Add Car</button>
<p *ngIf="!addCarStatus; else successStatus">Not added</p>
<ng-template #successStatus>
    <p>Added</p>
</ng-template>
<hr>
<app-car *ngFor="let car of cars"></app-car>

<ul>
    <li *ngFor="let item of items">
        <b>{{item.id}}</b> - <i>{{item.name}}</i>
    </li>
</ul>

<ul>
    <li *ngFor="let item of items; let index = index">
        <b>{{index}}</b> - <i>{{item.name}}</i>
    </li>
</ul>