<input type="text" class="form-control" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()">Add Car</button>
<p *ngIf="!addCarStatus; else successStatus">Not added</p>
<ng-template #successStatus>
    <p>Added</p>
</ng-template>
<hr>
<!-- <app-car *ngFor="let car of cars"></app-car> -->

<!-- <ul>
    <li *ngFor="let item of items">
        <b>{{item.id}}</b> - <i>{{item.name}}</i>
    </li>
</ul> -->
<ul>
    <li *ngFor="let car of cars; let index = index">
        <div [ngStyle]="{backgroundColor: (index + 1) % 2 === 0 ? 'red' : 'green', 'color': 'white'}" [ngClass]="{'big-text': setBigCarText(car)}"><b>{{index + 1}}</b> - <i>{{car}}</i>
        </div>
    </li>
</ul>